.indhold {
  display: grid;
  justify-items: center;
  max-width: 500px;
  justify-content: center;
}

.center_indhold {
  display: grid;
  justify-content: center;
}

@media (min-width: 600px) {
  #forside {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #forside img {
    max-width: 400px;
    max-height: 500px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
