/*************** Reset *********************/
* body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 90%;
  height: auto;
  display: block;
  margin: 15px;
}
h1,
a {
  font-family: "Homenaje", serif;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
}
h1 {
  margin-left: 10px;
  font-size: 10cqw;
}
h2 {
  font-family: "Homenaje", serif;
  font-weight: 1000;
  font-style: normal;
  padding: 0;
  margin: 30px 10px 10px 10px;
  max-width: 70ch;
  font-size: 6cqw;
}

h3 {
  font-family: "Homenaje", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 30px 10px 10px 10px;
  font-size: 6cqw;
}
a {
  text-decoration: none;
  color: black;
}

main a {
  margin-left: 15px;
}

a:hover {
  color: #ff0000;
}

p,
li {
  font-family: "Play", serif;
  font-weight: 200;
  font-style: normal;
  margin: 10px 10px 10px 10px;
  font-size: 5cqw;
}
p {
  line-height: 1.5;
  max-width: 70ch;
}

body {
  /* background-color: lightgray; */
  background: linear-gradient(-45deg, rgb(156, 156, 156), lightgray, rgb(255, 255, 255), beige);
  min-height: 100vh;
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#forside img {
  object-fit: cover;
  object-position: 50% 40%;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
footer {
  padding: 20px;
  background-color: #ffffff;
}

/*Tema 2*/
.indhold {
  border: 1px solid black;
  margin: 50px;
}

@media (min-width: 600px) {
  p,
  li {
    font-size: 2cqw;
  }
  h2 {
    font-size: 4cqw;
  }
  h1 {
    font-size: 6cqw;
  }
  main {
    max-width: 1000px;
    margin: auto;
  }
  #forside h2 {
    font-size: 2cqw;
    width: 50ch;
  }
}
