/*************** Reset *********************/
* body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px;
  object-fit: cover;
  object-position: 50% 40%;
}
h1,
a {
  font-family: "Homenaje", serif;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
}
main h1 {
  margin-left: 10px;
  font-size: xx-large;
}
h2 {
  font-family: "Homenaje", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 30px 10px 10px 10px;
  max-width: 70ch;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff0000;
}

p {
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px 10px 10px 10px;
}

body {
  /* background-color: lightgray; */
  background: linear-gradient(
    -45deg,
    rgba(221, 221, 221, 100),
    rgba(236, 236, 236, 100),
    rgba(255, 255, 255, 100),
    lightgray
  );
  min-height: 100vh;
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
footer {
  padding: 20px;
  background-color: #ffffff;
}
